@font-face {
  /* latin normal */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  /* latin bold */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  /* latin italic */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  /* latin bold and italic */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: #999;
}

main {
  font: 16px "Open Sans", "Arial", sans-serif;
  max-width: 800px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 16px;
  padding: 10px 18px;
  border: 1px solid black;
  border-radius: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  margin-left: -20px;
}

h4 {
  font-size: 24px;
  margin-bottom: 12px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

p {
  line-height: 1.2em;
}

p + p {
  margin-top: 1em;
}

header a {
  text-decoration: none;
  color: blue;
  border-bottom: 1px dashed blue;
}

ul {
  padding: 10px 20px;
}

li {

}

li + li {
  margin-top: 8px;
}

.major {
  margin-top: 20px;
  padding-left: 20px;
}

.unit {
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #ccc;
}

.unit + .unit {
  margin-top: 40px;
}

.course-links, .final-project {
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 16px;
  background-color: #fff;
  font-size: 15px;
}

.final-project {
}

#section-2 {
  margin-bottom: 400px;
}
