html, body, #map-canvas, .container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}



#search-box-container {
  position: absolute;
}

#search-box {
  display: block;
  border: 2px solid #0191c8;
  font: 25px Arial, sans-serif;
}



#venue-list-container {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  max-height: 80%;
  font: 20px Arial, sans-serif;
}

#venue-list-toggle-button {
  font: inherit;
  font-weight: bold;
  min-height: 28px;
  background-color: #0191c8;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
}

#venue-list-toggle-button.open {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

#venue-list {
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  border: 1px solid #0191c8;
  border-top: none;
}

#venue-list > li {
  list-style: none;
  padding: 6px 10px;
  color: #000;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#venue-list > li:hover {
  cursor: pointer;
  box-sizing: content-box;
  border: 2px solid #0191c8;
  border-left: 1px solid #0191c8;
  padding: 4px 9px;
}

#venue-list > li:nth-child(even) {
  background-color: #cfcfcf;
}



@media only screen and (min-width: 769px) {
  #search-box-container {
    bottom: 15px;
    left: 35%;
  }

  #venue-list-container {
    top: 10%;
    left: 15px;
  }
}


@media only screen and (max-width: 768px) {
  .row {
    margin: 0;
  }

  #search-box-container {
    bottom: 15px;
    left: 10%;
  }

  #venue-list-container {
    /*display: none;*/
    top: 60%;
    left: 20px;
    max-height: 30%;
  }
}



.venue-name {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.venue-image {
  display: block;
}

.foursquare-link {
  text-align: center;
}
